﻿@model IEnumerable<WebAppmvc.Models.RestaurantDiscount>

@{
	ViewBag.Title = "Index";
}

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.RestaurantName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Item)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Discount)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.RestaurantName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Item)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Discount)
			</td>
			<td>
				@Html.ActionLink("Buy", "Buy", new { id = item.Id }) |
			</td>
		</tr>
	}

</table>
