﻿@model WebAppmvc.Models.BuyNow


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <form class="form-horizontal">
        <h4>Hello buy your discount coupon!!!!!!!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			
			<div class="col-md-10">
				@Html.LabelFor(model => model.CreditType, htmlAttributes: new { @class = "control-label col-md-2" }) 
				@Html.RadioButtonFor(model => model.CreditType, "Visa", true) Visa
				@Html.RadioButtonFor(model => model.CreditType, "Master Card", true) Master Card
				@Html.RadioButtonFor(model => model.CreditType, "American", false) American Express
				@Html.ValidationMessageFor(model => model.CreditType, "", new { @class = "text-danger" })
			</div>
		</div>
		<br />
        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCardNumber, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CreditCardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.NameOnCreditCard, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameOnCreditCard, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameOnCreditCard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buy Now" class="btn btn-default" />
            </div>
        </div>
    </form>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
