﻿@model WebAppmvc.Models.BuyNow


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <form class="form-horizontal">
        <h4>Hello buy your discount coupon!!!!!!!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			
			<div class="col-md-10">
				@Html.LabelFor(model => model.creditCardType, htmlAttributes: new { @class = "control-label col-md-2" }) 
				@Html.RadioButtonFor(model => model.creditCardType, "Visa", true) Visa
				@Html.RadioButtonFor(model => model.creditCardType, "Master Card", true) Master Card
				@Html.RadioButtonFor(model => model.creditCardType, "American", false) American Express
				@Html.ValidationMessageFor(model => model.creditCardType, "", new { @class = "text-danger" })
			</div>
		</div>
		<br />
        <div class="form-group">
            @Html.LabelFor(model => model.creditCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.creditCardNumber, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.creditCardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.creditCardName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.creditCardName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.creditCardName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.expiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.expiryDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.expiryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buy Now" class="btn btn-default" />
            </div>
        </div>
    </form>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
