﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Robie Street 3768<br />
    Halifax,Nova Scotia,CA<br />
    <abbr title="Phone">P:</abbr>
    902.237.5271
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:foodlove@gmail.com">foodlove@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:foodlove_marketing@gmail.com">foodlove_marketing@gmail.com</a>
</address>